.pagination{
    display: flex;
}

ul, li, p, a{
    font-size: 30px;
    color: #2d71b5;
}
body > section > nav > ul > li:nth-child(2) {
    display: flex;
    background: #2d71b5;
    color: white;
    padding: 10px;
    border-radius: 92px;
    height: 40px;
    align-items: center;
}

.ativo{
    color: white !important;
}
li {
    margin: 0px 10px;
}