.newsletter{
	background-color: #0076BF;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    margin: 0;
}
.coluna-txt, .coluna-img{
	width: 25%;
}
.coluna-txt{
	color: #fff;
}